<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Categorized Expenses</title>
<body>
  <% for (let i = 0; i < expenses.length; i++) { %>
    <h4><%= expenses[i].amount %></h4>
  <% } %>
</body>
</html>
